body {
    color:white;
}


.lightblue {
    background-color: lightblue;
}

.lightcoral {
    background-color: lightcoral;
}

.lightgreen {
    background-color: lightgreen;
}

.light {
    background-color: lime;
}